{% extends "base.html" %}
{% load static %}
{% block content %}
  

  <div class="space-y-6">
    {% include "components/product_section.html" with title="Yeni Ürünler" products=new_products bg="bg-white" see_all_url=new_url %}
    {% if deal_products %}
      {% include "components/product_section.html" with title="Fırsat Ürünleri" products=deal_products bg="bg-orange-50" see_all_url=deal_url %}
    {% endif %}
    {% if popular_products %}
      {% include "components/product_section.html" with title="Popüler Ürünler" products=popular_products bg="bg-pink-50" see_all_url=popular_url %}
    {% endif %}
  </div>
{% endblock %}